@model BOS.SampleApp.Web.Features.Profile.ProfileViewModel
<div>
    <h1>@Model.DisplayName</h1>
    <hr />
    <p>Title: @Model.Title</p><br />
    <p>First Name: @Model.FirstName</p><br />
    <p>Last Name: @Model.LastName</p><br />
    <p>Email: @Model.Email</p><br />
</div>